backcall==0.1.0
cffi==1.13.1
chardet==2.3.0
Click==7.0
command-not-found==0.3
configparser==4.0.2
decorator==4.4.1
Flask==1.1.1
future==0.18.1
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
ipython==7.9.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
language-selector==0.1
MarkupSafe==1.1.1
numpy==1.17.3
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
ptyprocess==0.6.0
pycparser==2.19
pycryptodomex==3.9.0
pycurl==7.43.0
Pygments==2.4.2
pygobject==3.20.0
pyjwkest==1.4.2
pymongo==3.9.0
PyMySQL==0.9.3
python-apt==1.1.0b1+ubuntu0.16.4.5
requests==2.9.1
six==1.10.0
ssh-import-id==5.5
tornado==6.0.3
traitlets==4.3.3
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
wcwidth==0.1.7
Werkzeug==0.16.0
zhconv==1.4.0
